<ng-container *ngIf="userSession">
  <section id="m_formHome">
    <form class="m_searchForm row col-sm-8 g-3 needs-validation" novalidate>

      <div class="m_inputSearchContainer form-floating mb-3">
        <input type="text" id="m_searchBook" class="form-control" placeholder="search by genre" maxlength="40"
          [(ngModel)]="searchBookInput" [ngModelOptions]="{standalone: true}" (click)="inputFunctionFocus()" required>
        <label id="m_labelError" for="m_searchBook">Start your search</label>
      </div>

      <div id="m_searchSpinnerContainer">
        <button type="submit" class="btn btn-primary" (click)="searchBookFunction()">
          <i class="fas fa-search" *ngIf="spinner == false"></i>
          <!-- sostituzione spinner con il component -->
          <ng-container *ngIf="spinner">
            <minispinner></minispinner>
          </ng-container>
          Search
        </button>
      </div>

    </form>
  </section>


  <ng-container *ngIf="cardsShow">

    <!-- box delle card -->
    <div id="m_cardContainer" class="col-lg-12 col-md-12 col-sm-11">
      <ng-container *ngFor="let item of arrayBooks">

        <!-- conutenitore per ogni songola card -->
        <div class="m_cardStyle">
          <!-- contenuto delle card -->
          <div class="card">

            <!-- striscia grigia superiore che contiene il nome dell'autore -->
            <div class="card-header">
              <i class="fas fa-user"></i>
              <strong>{{item.author.name}}</strong>
            </div>

            <!-- sezione contenuti sinferiori -->
            <ul class="list-group list-group-flush">

              <li class="list-group-item">
                <i class="fas fa-birthday-cake"></i>
                <strong>{{item.author.birthDate}}</strong>
              </li>

              <li class="list-group-item">
                <i class="fas fa-transgender-alt"></i>
                <strong>{{item.author.gender}}</strong>
              </li>

              <li class="list-group-item">
                <div class="m_textCenter">
                  <p>Awards</p>
                </div>
                <!-- ciclo nel ciclo; vedi il json per capire meglio -->
                <ul *ngFor="let awards of item.awards">
                  <li>
                    <i class="fas fa-award"></i>
                    <strong>{{awards}};</strong>
                  </li>
                </ul>
              </li>

              <li class="list-group-item">
                <div class="m_textCenter">
                  <p>Books</p>
                </div>
                <!-- ciclo nel ciclo; vedi il json per capire meglio -->
                <ul *ngFor="let books of item.books">
                  <li>
                    <i class="fas fa-book"></i>
                    <strong class="m_pointerToModal">{{books.name}}</strong>
                  </li>
                  <li>
                    <i class="fas fa-bookmark"></i>
                    <strong>{{books.genre}}</strong>
                  </li>
                  <li class="m_listBorderBottom">
                    <i class="fas fa-calendar-alt"></i>
                    <strong>{{books.publish_date}}</strong>
                  </li>
                </ul>
              </li>

            </ul>

            <!-- striscia per lo scroll -->
            <div class="m_scrollDownAdvisor">
              <div class="m_arrowDownCont"><i class="fas fa-angle-double-down"></i></div>
              <div class="m_arrowDownCont"><i class="fas fa-angle-double-up"></i></div>
              <div class="m_arrowDownCont"><i class="fas fa-angle-double-down"></i></div>
            </div>

          </div>
        </div>

      </ng-container>
    </div>

  </ng-container>
</ng-container>
