<ng-container *ngIf="userSession">
  <section id="m_formHome">
    <form class="m_searchForm row col-sm-8 g-3 needs-validation" novalidate>

      <div class="m_inputSearchContainer form-floating mb-3">
        <input type="text" id="m_searchBook" class="form-control" placeholder="search by genre" maxlength="40"
          [(ngModel)]="searchBookInput" [ngModelOptions]="{standalone: true}" (click)="inputFunctionFocus()" required>
        <label id="m_labelError" for="m_searchBook">Start your search</label>
      </div>

      <div id="m_searchSpinnerContainer">
        <button type="submit" class="btn btn-primary" (click)="searchBookFunction()">
          <i class="fas fa-search" *ngIf="spinner == false"></i>
          <!-- sostituzione spinner con il component -->
          <ng-container *ngIf="spinner">
            <minispinner></minispinner>
          </ng-container>
          Search
        </button>
      </div>

    </form>
  </section>


  <ng-container *ngIf="cardsShow">

    <!-- box delle card -->
    <div id="m_cardContainer" class="col-lg-12 col-md-12 col-sm-11">
      <ng-container *ngFor="let item of arrayBooks">

        <!-- conutenitore per ogni songola card -->
        <div class="m_cardStyle">

          <!-- cover libro -->
          <div id="m_coverCards" (click)="cardCoverOff()"></div>

          <ng-container *ngIf="coverCards">
            <!-- contenuto delle card -->
            <div class="card">

              <!-- striscia grigia superiore che contiene il nome dell'autore -->
              <div class="card-header">
                <div class="m_containerIconInCard">
                  <i class="fas fa-user"></i>
                </div>
                <div class="m_containerContentInCard">
                  <strong>{{item.author.name}}</strong>
                </div>
              </div>

              <!-- sezione contenuti sinferiori -->
              <ul class="list-group list-group-flush">

                <li class="m_cardContentUnderHeader list-group-item">
                  <div class="m_containerIconInCard">
                    <i class="fas fa-birthday-cake"></i>
                  </div>
                  <div class="m_containerContentInCard">
                    <strong>{{item.author.birthDate}}</strong>
                  </div>
                </li>

                <li class="m_cardContentUnderHeader list-group-item">
                  <div class="m_containerIconInCard">
                    <i class="fas fa-transgender-alt"></i>
                  </div>
                  <div class="m_containerContentInCard">
                    <strong>{{item.author.gender}}</strong>
                  </div>
                </li>

                <li class="list-group-item">
                  <div class="m_textCenter">
                    <p>Awards</p>
                  </div>
                  <!-- ciclo nel ciclo; vedi il json per capire meglio -->
                  <ul *ngFor="let awards of item.awards">
                    <li class="m_cardContentUnderHeader">
                      <div class="m_containerIconInCard">
                        <i class="fas fa-award"></i>
                      </div>
                      <div class="m_containerContentInCard">
                        <strong>{{awards}};</strong>
                      </div>
                    </li>
                  </ul>
                </li>

                <li class="list-group-item">
                  <div class="m_textCenter">
                    <p>Books</p>
                  </div>
                  <!-- ciclo nel ciclo; vedi il json per capire meglio -->
                  <ul *ngFor="let books of item.books">
                    <li class="m_cardContentUnderHeader">
                      <div class="m_containerIconInCard">
                        <i class="fas fa-book"></i>
                      </div>
                      <div class="m_containerContentInCard">
                        <strong class="m_pointerToModal">{{books.name}}</strong>
                      </div>
                    </li>
                    <li class="m_cardContentUnderHeader">
                      <div class="m_containerIconInCard">
                        <i class="fas fa-bookmark"></i>
                      </div>
                      <div class="m_containerContentInCard">
                        <strong>{{books.genre}}</strong>
                      </div>
                    </li>
                    <li class="m_cardContentUnderHeader m_listBorderBottom">
                      <div class="m_containerIconInCard">
                        <i class="fas fa-calendar-alt"></i>
                      </div>
                      <div class="m_containerContentInCard">
                        <strong>{{books.publish_date}}</strong>
                      </div>
                    </li>
                  </ul>
                </li>

              </ul>

              <!-- striscia per lo scroll -->
              <div class="m_scrollDownAdvisor">
                <div class="m_arrowDownCont"><i class="fas fa-arrows-alt-v"></i></div>
              </div>
            </div>
          </ng-container>

        </div>

      </ng-container>
    </div>

  </ng-container>
</ng-container>
