#m_navIntesaPositionV3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

nav {
  background-color: #207700;
  display: block;
  height: 65px;
  margin-bottom: 20px;

  .navbar-nav {
    height: 100%;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    color: white !important;
    align-items: center;

    .m_navElements {
      width: calc(100% / 3);
      display: flex;

      a {
        color: white !important;
      }
    }

    .m_logo {
      font-style: oblique;
      justify-content: left;
      padding-left: 25px;

      h2 {
        font-weight: 600;
        letter-spacing: 0.5px;
      }
    }

    .m_center {
      align-items: center;
      justify-content: center;
    }

    .m_userLogin {
      justify-content: right;

      .m_pointerUserContainer {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 12px 55px;

      }

      &:hover a{
        text-decoration: underline;
      }

      i {
        font-size: 23px;
      }

      .fa-caret-square-down,
      .fa-caret-square-up {
        font-size: inherit;
        padding-left: 15px;
      }
    }
  }
}

#m_loginNavigationSection {
  background: rgb(11, 82, 11);
  // background-image: linear-gradient(to bottom, #207700, #569746, #85b77d, #b5d7b3, #e9f7e9);
  position: absolute;
  right: 0;
  top: 65px;
  z-index: 2;
  width: 250px;
  height: 0;
  transition: 0.5s;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 0 15px;

  // scrollbar
  &::-webkit-scrollbar {
    display: none;
  }

  .m_navigation_content_container {
    text-align: center;
    padding: 7px 0;
    cursor: pointer;

    &:hover {
      background: #207700;
    }

    a {
      text-decoration: none;
      color: white;
    }
  }
  .m_navigation_content_container:first-of-type{
    margin-top: 15px;
  }
}
