<!-- nav -->
<nav id="m_navIntesaPositionV3" class="navbar-expand">
  <div class="navbar-nav">

    <div class="m_navElements">
      <a class="nav-item nav-link" routerLink="/searchByAuthorIS">
        <h2>#Libri</h2>
      </a>
    </div>

    <div class="m_navElements">
      <a class="nav-item nav-link" routerLink="/searchByAuthor">
        <i class="fas fa-book"></i>
        Versions
      </a>
    </div>

    <div class="m_navElements">
      <a class="nav-item nav-link" routerLink="/login">
        Login
        <i class="fas fa-sign-in-alt"></i>
      </a>
    </div>

  </div>
</nav>
