<!--  alert messages -->
<!-- <div class="alert alert-danger" role="alert" *ngIf="errorState">
  <span>Login Error!</span>
  <span>error in one or more input fields</span>
  <span>Please Retry or Login</span>
</div> -->
<div class="alert alert-danger" role="alert" *ngIf="errorStateEmpty">
  <span>Empty fields!</span>
</div>
<div class="alert alert-danger" role="alert" *ngIf="errorStatePwd">
  <span>Le password non coincidono</span>
</div>
<div class="alert alert-danger" role="alert" *ngIf="errorStateEmail">
  <span>Email error</span>
</div>

<!-- div per il redirect alla home -->
<div id="m_loginSuccess" *ngIf="welcome">
  <h1 class="alert" role="alert">Registrazione avvenuta con successo</h1>
  <h2>Effettua il tuo primo login di verifica</h2>
  <h3>Solo un attimo...</h3>
  <div class="m_spinnerSuccess spinner-border text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<!-- sezione form -->
<form class="row g-3 needs-validation" novalidate>

  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingFN" placeholder="username" [(ngModel)]="firstName"
      [ngModelOptions]="{standalone: true}" required>
    <label for="floatingFN">First Name</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingLN" placeholder="username" [(ngModel)]="lastName"
      [ngModelOptions]="{standalone: true}" required>
    <label for="floatingLN">Last Name</label>
  </div>
  <div class="form-floating mb-3">
    <input type="" class="form-control" id="floatingUN" placeholder="username" [(ngModel)]="username"
      [ngModelOptions]="{standalone: true}" required>
    <label for="floatingUN">Username</label>
  </div>
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com" [(ngModel)]="email"
      [ngModelOptions]="{standalone: true}" required>
    <label for="floatingEmail">Email address</label>
  </div>
  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="pwd"
      [ngModelOptions]="{standalone: true}" required>
    <label for="floatingPassword">Password</label>
  </div>
  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="floatingPasswordRepeat" placeholder="PasswordRepeat" [(ngModel)]="pwdRepeat"
      [ngModelOptions]="{standalone: true}" required>
    <label for="floatingPasswordRepeat">Password repeat</label>
  </div>


  <div id="m_loginSpinnerContainer">
    <div>
      <button type="submit" class="btn btn-primary" (click)="register()">
        Submit
        <div class="m_spinnerLogin spinner-border text-light" role="status" *ngIf="spinner">
          <span class="visually-hidden">Loading...</span>
        </div>
      </button>
    </div>
    <div>
      <span>or</span>
      <a routerLink="/login">Login</a>
    </div>
  </div>

</form>

<!-- stampa tutto il json -->
<!-- <div>
  <p *ngFor="let item of usersList">
    {{item.firstName}} |
    {{item.lastName}} |
    {{item.user}} |
    {{item.email}} |
    {{item.pwd}}
  </p>
</div> -->
