@import "../../styles.scss";

#m_formHome {
  // background-color: $testColor1;
  display: flex;
  justify-content: center;

  .m_searchForm {
    // background-color: lightgreen;
    display: flex;
    justify-content: center;

    .m_inputSearchContainer {
      width: 60%;
      padding-right: 0;

      input {
        text-align: center;
      }

      input:focus {
        box-shadow: none;
      }
    }

    // sezione pulsante login
    #m_searchSpinnerContainer {
      width: 20%;
      padding-left: 0;

      button {
        vertical-align: inherit;
        padding: 1.02rem .75rem;
        background-color: white;
        color: black;
        border: 1px solid gray;
      }

      button:focus {
        box-shadow: none;
      }

      span {
        margin-right: 5px;
      }

      a {
        text-decoration: none;
        font-size: 18px;
        color: #0d92fe;
        cursor: pointer;
      }
    }
  }
}

//sezione cards libri
#m_cardContainer {
  // background: $testColor1;
  height: 74vh;
  padding-top: 25px;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &::-webkit-scrollbar {
    display: none;
  }

  .m_cardStyle {
    // background-color: $testColor1;
    overflow-y: scroll;
    width: 16rem;
    height: 230px;
    margin-bottom: 23px;
    margin-right: 23px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .card{
    height: 230px;
  }

}


//_______________________________________________________________________________________________________________________________________
//QUERIES

@media screen and (max-width: 1199px) {
  #m_formHome {
    .m_searchForm {

      //input search
      .m_inputSearchContainer {
        width: 60%;
      }

      // sezione pulsante login
      #m_searchSpinnerContainer {
        width: 20%;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #m_formHome {
    .m_searchForm {

      //input search
      .m_inputSearchContainer {
        width: 67%;
      }

      // sezione pulsante login
      #m_searchSpinnerContainer {
        width: 33%;
      }
    }
  }
}

@media screen and (max-width: 576px) and (min-width: 535px) {
  #m_cardContainer {

    .m_cardStyle {

      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 415px) {
    #m_cardContainer {

    .m_cardStyle {
      margin-right: 0;
    }
  }
}

