#m_logo_pagina {
  background-color: #207700;
  height: 65px;
  display: flex;
  align-items: center;
  padding: 0 33px;
  position: absolute;
  top: 0;
  left: 0;
  // cursor: pointer;

}

// sezione sentieri pagine
#m_pagesNavigation {
  position: absolute;
  top: 77px;
  left: 75px;
  display: flex;
  font-style: oblique;

  a {
    text-decoration: none;
    color: black;

    &:hover {
      color: green;
      text-decoration: underline;
    }
  }

  span {
    margin-right: 10px;
    margin-left: 10px;
  }
}


#m_container_home {
  background: green;
  width: 100%;
  height: calc(100vh - 160px);

  a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: white;
    font-style: oblique;
  }
}
