<form class="m_searchForm row g-3 needs-validation" novalidate>

  <div class="m_inputSearchContainer form-floating mb-3">
    <input type="text" class="form-control" id="m_searchBook" placeholder="search by genre"
      [(ngModel)]="searchBookInput" [ngModelOptions]="{standalone: true}" (click)="inputFunctionFocus()" required>
    <label id="m_labelError" for="m_searchBook">Start your search</label>
  </div>

  <div id="m_searchSpinnerContainer">
    <button type="submit" class="btn btn-primary" (click)="searchBookFunction()">
      <i class="fas fa-search"></i>
      Search
      <!-- sostituzione spinner con il component -->
      <ng-container *ngIf="spinner">
        <minispinner></minispinner>
      </ng-container>
    </button>
  </div>

</form>


<ng-container *ngIf="cardsShow">

  <div id="m_cardContainer">
    <ng-container *ngFor="let item of arrayBooks">

      <div class="m_cardStyle card" style="width: 18rem;">
        <div class="card-header">
          Title: <strong>{{item.publish_date}}</strong>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Author: <strong>{{item.author.name}}</strong></li>
          <li class="list-group-item">Gender: <strong>{{item.author.gender}}</strong></li>
          <li class="list-group-item">Genre: <strong>{{item.genre}}</strong></li>
          <li class="list-group-item">Publish date: <strong>{{item.publish_date}}</strong></li>
        </ul>
      </div>

    </ng-container>
  </div>

</ng-container>
