<nav-intesa-sanpaolo></nav-intesa-sanpaolo>

<section id="m_container_home">
  <a class="nav-item nav-link" routerLink="/searchBooksV1">
    <!-- <i class="fas fa-house-damage"></i> -->
    <i class="fas fa-puzzle-piece"></i>
    V1
  </a>
  <a class="nav-item nav-link" routerLink="/searchByAuthor">
    <i class="fas fa-puzzle-piece"></i>
    V2
  </a>
  <a class="nav-item nav-link" routerLink="/searchByAuthorIS">
    <i class="fas fa-puzzle-piece"></i>
    Authors
  </a>
  <a class="nav-item nav-link" routerLink="/admin_crud">
    <i class="fas fa-puzzle-piece"></i>
    Admin
  </a>
</section>
