<!-- component nav intesa -->
<nav-intesa-sanpaolo></nav-intesa-sanpaolo>

<ng-container *ngIf="userSession">

  <section id="m_pagesNavigation">
    <a routerLink="/home">Home</a>
    <span>></span>
    <p>Autori Intesa</p>
  </section>

  <!-- form per la ricerca dei libri -->
  <section id="m_formSearchBooksV3">
    <form class="m_searchForm row col-sm-8 g-3 needs-validation" novalidate>

      <!-- barra input ricerca -->
      <div class="m_inputSearchContainer form-floating">

        <input type="text" id="m_searchBook" class="form-control" placeholder="search by genre" maxlength="40"
          [(ngModel)]="searchBookInput" [ngModelOptions]="{standalone: true}" (click)="inputFunctionFocus()" required>

        <label id="m_labelError" for="m_searchBook">Start your search</label>

        <!-- pulsante di ricerca -->
        <div id="m_searchSpinnerContainer">
          <button type="submit" class="btn btn-primary" (click)="searchBookFunction()">
            <i class="fas fa-search" *ngIf="spinner == false"></i>
            <!-- sostituzione spinner con il component -->
            <ng-container *ngIf="spinner">
              <minispinner></minispinner>
            </ng-container>
          </button>
        </div>

      </div>
    </form>
  </section>

  <!-- accordeon -->
  <ng-container *ngIf="cardsShow">
    <div id="m_intesaAccordeonContainer">

      <!-- autori generati dopo la ricerca -->
      <ng-container *ngFor="let item of arrayBooks">
        <div class="m_contentAccordeon">
          <ng-container *ngIf="accordeonVisibility == false">
            <div class="m_headerAccordeon">

              <h4 (click)="accordeonFunction(item)">
                <i class="fas fa-user"></i>
                {{item.author.name}}
              </h4>
              <i class="fas fa-chevron-circle-down" *ngIf="accordeonVisibility == false"
                (click)="accordeonFunction(item)"></i>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <!-- autori generati dopo la ricerca -->


      <!-- trucchetto per il focus -->
      <!-- cliccando su un nome si apre questa specie di modal con solo le informazioni richieste -->
      <ng-container *ngIf="accordeonVisibility">
        <!-- [CICLO] cicla nell'array pushato nella funzione accordeonFunction() -->
        <ng-container *ngFor="let item of accordeonBookArray">

          <div class="m_contentAccordeon">

            <!-- autore visualizzato al termine della ricerca -->
            <div class="m_headerAccordeon m_margin0">
              <h4 (click)="exitAccordeonFunction()">
                <i class="fas fa-user"></i>
                {{item.author.name}}
              </h4>
              <i class="fas fa-chevron-circle-up" *ngIf="accordeonVisibility" (click)="exitAccordeonFunction()"></i>
            </div>
            <!-- /autore visualizzato al termine della ricerca -->

            <!-- contenuto al click su un autore -->
            <div class="m_mainAccordeon m_margin0">

              <!-- /sezione info autore -->
              <div class="m_mainLeft">
                <h6>Biography</h6>

                <div class="m_containerIcons-Items">
                  <div class="m_iconArrayItems">
                    <i class="fas fa-birthday-cake"></i>
                  </div>
                  <div class="m_arrayItems">
                    <p>{{item.author.birthDate}}</p>
                  </div>
                </div>

                <div class="m_containerIcons-Items">
                  <div class="m_iconArrayItems">
                    <i class="fas fa-transgender-alt"></i>
                  </div>
                  <div class="m_arrayItems">
                    <p>{{item.author.gender}}</p>
                  </div>
                </div>
              </div>
              <!-- /sezione info autore -->

              <!-- sezione libri -->
              <div class="m_mainCenter">
                <h6>Bibliography</h6>
                <!-- [CICLO] preleva l'array di books dal json -->
                <ul *ngFor="let books of item.books">

                  <li>
                    <div class="m_containerIcons-Items">
                      <div class="m_iconArrayItems">
                        <i class="fas fa-book"></i>
                      </div>
                      <div class="m_arrayItems">
                        <p class="m_pointerToModal" (click)="openModal(books)">
                          {{books.name}}
                        </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="m_containerIcons-Items">
                      <div class="m_iconArrayItems">
                        <i class="fas fa-bookmark"></i>
                      </div>
                      <div class="m_arrayItems">
                        <p>{{books.genre}}</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="m_containerIcons-Items">
                      <div class="m_iconArrayItems">
                        <i class="fas fa-calendar-alt"></i>
                      </div>
                      <div class="m_arrayItems">
                        <p>{{books.publish_date}}</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- /sezione libri -->

              <!-- sezione riconoscimenti -->
              <div class="m_mainRight">
                <h6>Awards</h6>
                <!-- [CICLO] cicla award da item -->
                <ul *ngFor="let awards of item.awards">
                  <li>
                    <div class="m_containerIcons-Items">
                      <div class="m_iconArrayItems">
                        <i class="fas fa-award"></i>
                      </div>
                      <div class="m_arrayItems">
                        <p> {{awards}} </p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- sezione riconoscimenti -->

            </div>
            <!-- /contenuto al click su un autore -->

          </div>
        </ng-container>
      </ng-container>
      <!-- /trucchetto per il focus -->


    </div>
  </ng-container>
  <!-- /accordeon -->

</ng-container>

<!-- modal libri -->
<ng-container *ngIf="modalVisibility">

  <!-- contenitore per il flex -->
  <section id="m_modalContainer">
    <!-- contenitore responsive -->
    <div id="m_modal" class="row col-sm-10 g-3">

      <!-- parte sinistra del modal -->
      <div class="m_leftSideModal">
        <ng-container *ngFor="let item of modalBookArray">

          <div class="m_modalInfos">
            <div class="m_modalInfosType">
              <p>Title</p>
            </div>
            <div class="m_modalInfosContent">
              <strong>{{item.name}}</strong>
            </div>
          </div>

          <div class="m_modalInfos">
            <div class="m_modalInfosType">
              <p>ISBN</p>
            </div>
            <div class="m_modalInfosContent">
              <strong>{{item.isbn}}</strong>
            </div>
          </div>

          <div class="m_modalInfos">
            <div class="m_modalInfosType">
              <p>Genre</p>
            </div>
            <div class="m_modalInfosContent">
              <strong>{{item.genre}}</strong>
            </div>
          </div>

          <div class="m_modalInfos">
            <div class="m_modalInfosType">
              <p>Publish Date</p>
            </div>
            <div class="m_modalInfosContent">
              <strong>{{item.publish_date}}</strong>
            </div>
          </div>

          <div class="m_modalInfos">
            <div class="m_modalInfosType">
              <p>Description</p>
            </div>
            <div class="m_modalInfosContent">
              <strong>{{item.description}}</strong>
            </div>
          </div>

        </ng-container>
      </div>

      <!-- parte destra del modal -->
      <div class="m_rightSideModal">
        <div class="m_exit" (click)="exitModal()">
          <i class="far fa-times-circle"></i>
        </div>

        <ng-container *ngFor="let item of modalBookArray">
          <div class="m_posterContainer">
            <img [src]="item.poster" alt="Poster">
          </div>
        </ng-container>
      </div>

    </div>
  </section>

</ng-container>
