@import "../../styles.scss";

.row {
  justify-content: center;
}

// sezione sentieri pagine
#m_pagesNavigation {
  position: absolute;
  top: 77px;
  left: 75px;
  display: flex;
  font-style: oblique;

  a {
    text-decoration: none;
    color: black;

    &:hover {
      color: green;
      text-decoration: underline;
    }
  }

  span {
    margin-right: 10px;
    margin-left: 10px;
  }
}

// /sezione sentieri pagine

// sezione barra di ricerca
#m_formSearchBooksV3 {
  display: flex;
  justify-content: center;

  .m_searchForm {
    display: flex;
    justify-content: center;

    .m_inputSearchContainer {
      width: 100%;
      padding-right: 0;
      margin-bottom: 30px;

      input {
        position: relative;
        text-align: left;
        border-radius: 40px;
        border-color: green;
        padding-left: 25px;
        // box-shadow: inset 0px 0px 24px 0px rgba(186, 144, 99, 1);

        &:focus {
          // box-shadow: inset 0px 0px 24px 0px rgba(186, 144, 99, 1) !important;
          border-color: green;
          box-shadow: none;
        }

      }


      label {
        padding-left: 25px;
      }

      // sezione pulsante login
      #m_searchSpinnerContainer {

        position: absolute;
        top: 0;
        right: 0;
        padding-left: 0;

        button {
          vertical-align: inherit;
          padding: 1.02rem 1.3rem;
          background-color: white;
          color: black;
          border: 1px solid gray;
          border-radius: 40px;
          border-color: green;
          // box-shadow: inset 0px 0px 24px 0px rgba(186, 144, 99, 1);

          &:focus {
            box-shadow: none;
            border-color: green;
            // box-shadow: inset 0px 0px 24px 0px rgba(186, 144, 99, 1);
          }
        }


        span {
          margin-right: 5px;
        }

        a {
          text-decoration: none;
          font-size: 18px;
          color: #0d92fe;
          cursor: pointer;
        }
      }
    }


  }
}

// /sezione barra di ricerca


// contenuto della pagina autori
#m_intesaAccordeonContainer,
#m_intesaAccordeonContainer2 {
  // background: green;
  border-radius: 7px;
  height: calc(100vh - 230px);
  padding: 15px;
  padding-top: 0;
  overflow-y: scroll;
  justify-content: center;
  border-bottom: 2px solid green;

  // scrollbar
  &::-webkit-scrollbar {
    display: none;
  }

  .m_contentAccordeon {

    .m_headerAccordeon.m_margin0,
    .m_mainAccordeon.m_margin0 {
      margin: 0;
    }

    .m_headerAccordeon {
      background-color: rgb(233, 247, 233);
      border-radius: 6px;
      border-bottom: 2.5px solid green;
      margin-bottom: 15px !important;
      width: 100%;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;


      h4 {
        cursor: pointer;
        position: absolute;
        left: 0;
        width: 100%;
        padding: 8px 45px;
        letter-spacing: 0.5px;

        i {
          padding: 0;
          margin-right: 20px;
        }
      }

      // decorazioni icone dell'header accordeon
      i {
        font-size: 25px;
        padding: 12px 45px;
        color: green;
      }

      i.fa-chevron-circle-up,
      i.fa-chevron-circle-down {
        position: absolute;
        cursor: pointer;
      }

      i.fa-chevron-circle-up {
        color: rgb(110, 19, 19);
      }

      // /decorazioni icone dell'header accordeon
    }

    .m_mainAccordeon {
      width: 100%;
      margin-bottom: 20px;
      display: flex;

      // attributi generali per biografia, libri e traguardi
      .m_mainLeft,
      .m_mainCenter,
      .m_mainRight {
        width: calc(100% / 3);
        height: calc(100vh - 315px);
        padding: 10px 20px;
        overflow-y: scroll;

        // scrollbar
        &::-webkit-scrollbar {
          display: none;
        }

        h6 {
          text-align: center;
          text-decoration: underline;
        }

        .m_containerIcons-Items {
          display: flex;
          margin-top: 15px;

          .m_iconArrayItems {
            margin-right: 15px;
          }
        }
      }

      // /attributi generali per biografia, libri e traguardi

      // sezione libri
      .m_mainCenter {
        border-left: 1px solid black;
        border-right: 1px solid black;

        ul {
          margin-top: 15px;
          border-bottom: 1px solid green;

          .m_containerIcons-Items {
            margin-top: 0;

            .fa-calendar-alt {
              margin-bottom: 15px;
            }

            .m_pointerToModal {
              cursor: pointer;

              &:hover {
                color: green;
                text-decoration: underline;
              }
            }
          }
        }
      }

      // /sezione libri
    }
  }
}

// /contenuto della pagina autori


// contentuto del modal al click sui libri
#m_modalContainer {
  display: flex;
  justify-content: center;

  #m_modal {
    background: white;
    height: calc(100vh - 220px);
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 2px 2px 8px 0px rgba(32, 119, 0, 1);


    .m_leftSideModal {
      // background: green;
      width: 50%;
      height: 100%;
      overflow-y: scroll;

      // larghezza scrollbar
      &::-webkit-scrollbar {
        width: 7px;
      }

      // colore
      &::-webkit-scrollbar-track {
        box-shadow: inset 10px 10px 10px rgb(211, 205, 205);
        border-radius: 15px;
      }

      // cursore
      &::-webkit-scrollbar-thumb {
        background: rgb(13, 43, 3);
        border: 1px solid white;
        border-radius: 15px;
        cursor: pointer;

        // cursore all'hover
        &:hover {
          background: gray;
        }
      }

      .m_modalInfos {
        margin-bottom: 17px;

        .m_modalInfosType {
          background: #E9F7E9;
          font-weight: 700;
          display: inline-block;
          padding: 0px 15px;
          margin-bottom: 5px;
          border-radius: 15px;
        }

        .m_modalInfosContent {
          padding-left: 15px;
        }
      }
    }

    .m_rightSideModal {
      // background: darkgreen;
      position: relative;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .m_exit {
        position: absolute;
        top: -10px;
        right: 0px;
        cursor: pointer;
        height: 16px;
        width: 16px;

        i {
          font-size: 25px;
        }
      }

      .m_posterContainer {
        width: 60%;
        height: 90%;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

// /contentuto del modal al click sui libri



//_______________________________________________________________________________________________________________________________________
//QUERIES

// modifica dell'immagine ad alte risoluzioni
@media screen and (min-width: 1300px) {
  #m_modalContainer {
    #m_modal {
      .m_posterContainer {
        width: 80% !important;
      }
    }
  }
}

@media screen and (max-width: 576px) and (min-width: 535px) {
  #m_cardContainer {

    .m_cardStyle {

      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 415px) {
  #m_cardContainer {

    .m_cardStyle {
      margin-right: 0;
    }
  }
}
