<!--  alert messages -->
<div class="alert alert-danger" role="alert" *ngIf="errorState">
  <span>Login Error!</span>
  <span>Wrong username or password!</span>
  <span>Please Retry or Register</span>
</div>

<!-- div per il redirect alla home -->
<div id="m_loginSuccess" *ngIf="welcome">
  <h1 class="alert" role="alert">Bentornato!! (^.^)</h1>
  <h2>Ti sto reindirizzando alla Home</h2>
  <h3>Solo un attimo...</h3>
  <div class="m_spinnerSuccess spinner-border text-dark" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<form class="row g-3 needs-validation" novalidate>

  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" required>
    <label for="floatingInput">Username</label>
  </div>
  <!-- sezione input eail che per il login non serve, ma dovrò poi aggiungerlo al register -->
  <!-- <div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="email">
  <label for="floatingInput">Email address</label>
</div> -->
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="pwd" [ngModelOptions]="{standalone: true}" required>
    <label for="floatingPassword">Password</label>
  </div>


  <div id="m_loginSpinnerContainer">
    <div>
      <button type="submit" class="btn btn-primary" (click)="submit()">
        Login
        <div class="m_spinnerLogin spinner-border text-light" role="status" *ngIf="spinner">
          <span class="visually-hidden">Loading...</span>
        </div>
      </button>
    </div>
    <div>
      <span>or</span>
      <a routerLink="/register">Register</a>
    </div>
  </div>

</form>
<!-- stampa tutto il json -->
<!-- <div>
  <p *ngFor="let item of usersList">{{item.user}} | {{item.email}} | {{item.pwd}}</p>
</div> -->
