.alert{
  span{
    display: block;
  }
}

#m_loginSuccess {
  background-color: #d4edda;
  position: absolute;
  top: 13%;
  left: 21%;
  z-index: 2;
  height: 400px;
  width: 58%;
  border-radius: 7px;
  overflow: hidden;
  -webkit-box-shadow: 3px 4px 17px 4px rgba(87, 83, 83, 0.75);
  -moz-box-shadow: 3px 4px 17px 4px rgba(87, 83, 83, 0.75);
  box-shadow: 3px 4px 17px 4px rgba(87, 83, 83, 0.75);
  text-align: center;

  h1 {
    margin-top: 20px;
  }

  h2 {
    margin-top: 30px;
  }

  h3 {
    margin-top: 50px;
  }

  .m_spinnerSuccess {
    margin-top: 15px;
  }
}

// sezione pulsante login
#m_loginSpinnerContainer {
  display: flex;
  margin-top: 20px;
  align-items: flex-end;
  justify-content: space-between;

  .m_spinnerLogin {
    margin-left: 10px;
    width: 15px;
    height: 15px;
  }

  span{
    margin-right: 5px;
  }
  a{
    text-decoration: none;
    font-size: 18px;
    color: #0d92fe;
    cursor: pointer;
  }
}
