@import "../../styles.scss";

.alert-danger {
  margin-bottom: 20px !important;
  margin-left: 8px;
  margin-right: 8px;
}

#m_loginSuccess {
  background-color: $bannerSuccessColor;
  color: $bannerSuccessTextColor;
  z-index: 2;
  height: 400px;
  border-radius: 7px;
  overflow: hidden;
  -webkit-box-shadow: 3px 4px 17px 4px rgba(87, 83, 83, 0.75);
  -moz-box-shadow: 3px 4px 17px 4px rgba(87, 83, 83, 0.75);
  box-shadow: 3px 4px 17px 4px rgba(87, 83, 83, 0.75);
  text-align: center;

  h1 {
    margin-top: 20px;
  }

  h2 {
    margin-top: 30px;
  }

  h3 {
    margin-top: 50px;
  }

  .m_spinnerSuccess {
    margin-top: 15px;
  }
}

#m_formLogin {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  form {

    .form-control:focus {
      box-shadow: 0 0 0 0.25rem #E9F7E9;
      border-color: gray;
    }

    .alert {
      span {
        display: block;
      }
    }


    // sezione pulsante login
    #m_loginSpinnerContainer {
      display: flex;
      margin-top: 20px;
      align-items: flex-end;
      justify-content: space-between;


      button {
        background-color: #E9F7E9;
        border: 1px solid green;

        &:focus {
          box-shadow: 0px 0px 5px 2px #E9F7E9;
        }

        .m_spinnerLogin {
          margin-left: 10px;
          width: 15px;
          height: 15px;
        }

      }

      span {
        margin-right: 5px;
        color: $linkLoginRegisterColor;
      }

      a {
        text-decoration: none;
        font-size: 18px;
        color: $linkLoginRegisterColor;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
