<nav-intesa-sanpaolo></nav-intesa-sanpaolo>

<section id="m_logo_pagina">
  <h4>#Admin</h4>
</section>

<section id="m_pagesNavigation">
  <a routerLink="/home">Home</a>
  <span>></span>
  <p>Amministrazione utenti</p>
</section>

<section id="m_container_admin_crud">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">User</th>
        <th scope="col">Email</th>
        <th scope="col">Admin</th>
        <th scope="col">Last Access</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of arrayUsers; index as i">
        <tr>
          <th scope="row">{{i}}</th>
          <td>{{item.name}}</td>
          <td>{{item.surname}}</td>
          <td>{{item.user}}</td>
          <td>{{item.email}}</td>
          <td>{{item.admin}}</td>
          <td>{{item.lastAccess}}</td>
          <td><i class="fas fa-pen-square"></i></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</section>
